@use "../abstracts" as *;

.heading-primary {
  font-size: 4.4rem;
  color: $color-white;
}

.heading-secondary {
  font-size: 3rem;
  color: $color-dark-grey;
}

.heading-tertiary {
  font-size: 2rem;
}

.error {
  background-color: rgba($color: $color-dark-grey, $alpha: 0.5);
  padding: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: $color-white;

  &__message {
    color: $color-white;
    font-size: 2rem;
    text-shadow: $box-shadow-2;
    letter-spacing: 0.5;
  }
}

.paragraph {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  color: $color-light-grey;
}
.icons {
  width: 2.4rem;
  height: 2.4rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
