// - FONT SIZES (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

//- SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// Fonts
$font-family: "Roboto", sans-serif;

// Colors
$color-white: #fff;
$color-white-offset: #e0e0e0;
$color-light-grey: #aaa;
$color-med-grey: #868e96;
$color-dark-grey: #495057;
// Others
$box-shadow-1: 0rem 0rem 1rem rgba(0, 0, 0, 0.4);
$box-shadow-2: 0rem 0rem 2.4rem rgba(0, 0, 0, 0.4);

$box-shadow-animate: 0rem 0.8rem 5rem rgba(0, 0, 0, 0.4);
