@use "../abstracts" as *;
h1 {
  text-align: center;
  text-shadow: $box-shadow-1;
  grid-column: 4;
}

.search {
  grid-column: 3 / span 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    border: none;
    box-shadow: $box-shadow-2;
    font-family: inherit;
    padding: 1.2rem 2.4rem;
    padding-left: 3rem;
    width: 100%;
    color: $color-dark-grey;
    &::placeholder {
      color: $color-light-grey;
      font-family: inherit;
    }

    &[type="text"] {
      font-size: 1.6rem;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 1.6rem;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__icon {
    position: absolute;
    color: $color-med-grey;
    height: 1.8rem;
    width: 1.8rem;
    left: 0.7rem;
  }
}
